<div class="container">

    <div class="center-info">
        <div class="box-logo">
            <img src="assets/img/logo_transparent.png" alt="links">
        </div>
        <div class="box-info-login">
            <div class="center-box-info">
                <form [formGroup]="loginForm" (submit)="doLogin()">
                    <h2>Login</h2>
                    <label for="email">Your Email</label>
                    <input type="email" formControlName="email" id="email" email>

                    <label for="password">Password</label>
                    <input type="password" formControlName="password" id="password">
                    <button [disabled]="loginForm.invalid">Login</button>
                </form>

            </div>
        </div>
    </div>
</div>º