<div class="container">

    <div class="center-info">
        <div class="box-logo">
            <img src="assets/img/logo_transparent.png" alt="links">
        </div>
        <div class="box-info-singup">
            <div class="center-box-info">
                <form [formGroup]="loginForm" (submit)="doLogin()">
                    <h2>Signup</h2>

                    <label for="name">Full Name</label>
                    <input type="text" name="name" id="name">

                    <label for="email">Your Email</label>
                    <input type="email" name="email" id="email">

                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                    <button [disabled]="true">signup</button>
                    <p>By Creating account You agree to the <a href="">Terms of use</a> and <a href="">Privacy
                            Policy</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>