<div>
    <div>
        <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg"
            alt="profile">
        <p>Jeff Brown</p>
        <p>jeff.brown@example.com</p>
    </div>
    <div>
        <label for="url">Url to Save</label>
        <input type="text" name="url" id="url">
        <label for="nameUrl">Name of Url</label>
        <input type="text" name="nameUrl" id="nameUrl">
    </div>
    <button>add</button>
    <app-url></app-url>
    <app-url></app-url>
    <app-url></app-url>
</div>